<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Connexion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="loginProvider.userLogged() == false">

    <h1>Connexion</h1>
    <p>Pour activer toutes les fonctionnalités de l'application, il faut se logguer au site des joutes.</p>
    <p>Veuillez cliquer sur le bouton pour vous logguer</p>
  
    <button ion-button (click)="openwebbrowse()">Connexion</button>

  </div>
  <div *ngIf="loginProvider.userLogged() == true">
      <h1>Déja connecté</h1>
      <p>Vous êtes déja connecté au joutes</p>
      <h2>Vos informations</h2>
      <p>Prénom : {{ loginProvider.getUser().first_name }}</p>
      <p>Nom : {{ loginProvider.getUser().last_name }}</p>
      <p>Email : {{ loginProvider.getUser().email }}</p>
      <p>Role : {{ loginProvider.getUser().role }}</p>
      <div *ngIf="loginProvider.getTeams() != null">
          <p>Equipes : {{ loginProvider.getTeams() }}</p>
      </div>
  </div>

</ion-content>
