page-team {
/*   .item-md, .item-inner, .item-ios
  {
    padding:0px;
  }

  .item-md.item-block .item-inner, .item-ios.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .label-md, .label-ios
  {
    margin:2px;
  } */

  .border-win
  {
    border-left: 7px solid map-get($colors, successCustom);
  }

  .border-lose
  {
    border-left: 7px solid map-get($colors, danger);
  }

  .border-inc
  {
    border-left: 7px solid #c5c5c5;
  }

  .border-draw
  {
    border-left: 7px solid map-get($colors, success);
  }

  .title{
    color: black;
  }

/*   ion-card {
      word-wrap: normal;
  }
  ion-col[text-right] {
      direction: rtl;
  } */

}
