<ion-header>
    <ion-navbar>

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            {{ teamData.name }}
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-col width-100>
        <h2>Equipe <b> {{ teamData.name }}</b>
            <ion-icon name="trophy" *ngIf="teamData.status == 'Vainqueur'"></ion-icon>
        </h2>
    </ion-col>
    <ion-card>
        <ion-card-content>

            <ion-grid text-center>
                <ion-row style="flex-wrap: wrap;">
                    <ion-col width-25 *ngFor="let participant of teamData.participants">
                        {{ participant.firstname }}
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-col width-100 *ngFor="let tournament of teamData.tournament">
        <h2>Tournoi <b> {{  tournament.name }}</b></h2>
    </ion-col>
    <ion-card *ngFor="let tournament of teamData.tournament" (click)="goToTournament(tournament)">
        <ion-card-content>

            <ion-grid text-center>
                <ion-row style="flex-wrap: wrap;">
                    <ion-col width-50>
                        <ion-icon name="game-controller-b" class="info"></ion-icon><br/>
                        <div class="items">{{ teamData.sport }}</div>
                    </ion-col>
                    <ion-col width-50>
                        <ion-icon name="pin" class="info"></ion-icon><br/>
                        <div class="items">{{ tournament.place }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-content>
    </ion-card>

    <ion-col width-100><h2>Liste des <b>Matchs</b></h2></ion-col>
    <ion-card>
        <ion-card-content no-padding>
            <ion-list *ngFor="let match of teamData.matches" (click)="goToPool(teamData.tournament, match.group_match_id)">
                <ion-item class="border-win" *ngIf="match.ownScore > match.team2Score">
                    {{ match.team2 }}
                    <ion-note item-right>
                        {{ match.ownScore }} - {{ match.team2Score }}
                    </ion-note>
                </ion-item>

                <ion-item class="border-lose" *ngIf="match.ownScore < match.team2Score">
                    {{ match.team2 }}
                    <ion-note item-right>
                        {{ match.ownScore }} - {{ match.team2Score }}
                    </ion-note>
                </ion-item>

                <ion-item class="border-draw" *ngIf="(match.team1Score == match.team2Score) && (match.start == '')">
                    {{ match.team2 }}
                    <ion-note item-right>
                        {{ match.ownScore }} - {{ match.team2Score }}
                    </ion-note>
                </ion-item>

                <ion-item class="border-inc" *ngIf="match.status == 'A venir' ">
                    {{ match.team2 }}
                    <ion-note item-right>
                        {{ match.start }}
                    </ion-note>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>