page-event {
  .segment-md .segment-button {
    font-size: 1.18rem;
  }

  .header-md::after{
    background-image: none;
  }

  .tournament-name {
    background-color: #42A5F5;
  }

  .ranking {
    background-color: white;
  }

  .no-margin-padding {
    padding: 0px;
    margin: 0px;
  }

  b{
    color: white;
  }
}
