page-event {
  .segment-md .segment-button {
    font-size: 1.18rem;
  }

  .color-star{
    color:#F9A825;
  }
  .ion-md-star-outline:before {
    color:#F9A825;
  }

  .header-md::after{
    background-image: none;
  }

  .tournament-name {
    background-color: #42A5F5;
  }

  .classement {
    background-color: white;
  }

  .no-margin-padding {
    padding: 0px;
    margin: 0px;
  }

  b{
    color: white;
  }
}
