<!--
  Generated template for the Teams page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            {{ event.name }}
        </ion-title>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="eventContent">
            <ion-segment-button value="teams">
                Equipes
            </ion-segment-button>
            <ion-segment-button value="tournaments">
                Tournois
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<!-- IL FAUT RAJOUTER LA BAR DE RECHERCHE DANS LA LISTE DES EQUIPES-->
<ion-content>
    <div [ngSwitch]="eventContent">

        <ion-list *ngSwitchCase="'teams'">
            <ion-toolbar no-border-top>
                <ion-searchbar color="primary" placeholder="Nom de l'équipe.." [(ngModel)]="searchTerm"
                               (ionInput)="filterTeams()">
                </ion-searchbar>
            </ion-toolbar>
            <ion-item *ngFor="let team of filteredTeams">

                <div class="items" (click)="goToTeam(team)">{{team.name}} ({{team.sport}})</div>

                <ion-icon item-right name="star" (click)="toggleFavoriteTeam(team)" *ngIf="team.favorite"></ion-icon>
                <ion-icon item-right name="star-outline" (click)="toggleFavoriteTeam(team)" *ngIf="!team.favorite"></ion-icon>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'tournaments'">
            <ion-item *ngFor="let tournament of tournaments">
                <div class="items" (click)="goToTournament(tournament)">{{tournament.name}} ({{tournament.sport}})</div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>