// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Empty. Add your own CSS if you like */

.toolbar-background {
  background-color: color($colors, primary);
  color:#fff;
}

.segment-md .segment-button
{
  color:#fff;
}

.segment-md .segment-button.segment-activated {
  border-color: #fff;
}

.toolbar-title-md, .bar-button-default-md
{
  color:#fff;
}

.bar-button-default-md:hover
{
  color: color($colors, secondary);
}

h2
{
  color:#2980b9;
  font-weight: 100;
  margin-bottom:5px;
  margin-left:5px;
}

.items
{
  font-size: 16px;
  font-weight: 300;
}

.wp ion-card,
.md ion-card,
.ios ion-card
{
  background-color:#fff;
}

.md ion-list > .item,
.wp ion-list > .item,
.ios ion-list > .item
{
  //border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.md ion-list > .item:last-child{
  border-bottom: none;
}

.bold
{
  font-weight: bold;
}

.border-win
{
  border-right: 5px solid #4caf50;
}

.border-lose
{
  border-right: 5px solid #f44336;
}

.border-inc
{
  border-right: 5px solid #fff;
}

.bottom_bar
{
  position: fixed;
  bottom: 2vh;
  width: 100%;
}

.swiper-slide {
  overflow-y: scroll;
  display: block;
}