// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Empty. Add your own CSS if you like */

body {
  padding-top:constant(safe-area-inset-top); //for iOS 11.2
  padding-top:env(safe-area-inset-top); //for iOS 11.1
}

@media (max-width: 380px){
  .ios ion-toolbar{
    padding-top: 40px;
    ion-title{
      padding-top: 35px;
    }
  }
}
  

.toolbar-background {
  background-color: color($colors, primary);
  color:#fff;
}

.toolbar-background-ios {
  border: 0px;
}

.toolbar-title .toolbar-title-md, .toolbar-title-ios {
  text-align: center;
}

.ion-md-menu .ion-ios-menu {
  float:right;
}

.toolbar .searchbar-ios .searchbar-input {
  background: #fff;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #fff;
  background-color: transparent;
}

.segment-md .segment-button
{
  color:#fff;
}

.segment-ios .segment-button{
  color: #fff;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.18rem;
}

.segment-md .segment-button.segment-activated {
  border-color: #fff;
}

.toolbar-title-md, .bar-button-default-md, .toolbar-title-ios
{
  color:#fff;
}

.bar-button-default-md:hover
{
  color: color($colors, secondary);
}

h2
{
  color: color($colors, secondary);
  font-weight: 100;
  margin-bottom:5px;
  margin-left:5px;
}

.items
{
  font-size: 16px;
  font-weight: 300;
}

.wp ion-card,
.md ion-card,
.ios ion-card
{
  background-color:#fff;
}

.md ion-list > .item,
.wp ion-list > .item,
.ios ion-list > .item
{
  background-color: #fff;
}

.md ion-list > .item:last-child, .ios ion-list > .item:last-child {
  border-bottom: none;
}

.bold
{
  font-weight: bold;
}


.swiper-slide {
  overflow-y: scroll;
  display: block;
}

.info
{
  font-size: 30px;
  color: color($colors, secondary);
}

.border-table
{
  border-bottom:1px solid #c5c5c5;
}

.white-background
{
  background-color:#fff;
}

.no-padding-bottom
{
  padding-bottom:0px;
}

.tabbar{
  opacity:1;
  fixed:bottom;
}

.sports-img
{
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  width: 35px;
  height: 35px;
}

.sports-label
{
  margin-top:5px;
}

ion-label{
  white-space: normal;

}

.color-star{
  color: color($colors, success);
}

.ion-md-star-outline:before, .ion-ios-star-outline:before {
  color: color($colors, primary);
}

.item-md ion-note {
  color: #9e9e9e;
}

.menu-button {
  float: right;
}

.toastError div {
    //background-color: #F44336;
    background-color: map-get($colors, danger);
}

.toastSuccess div {
    //background-color: #4CAF50;
    background-color: map-get($colors, successCustom);
}

.offlineState {
  color: map-get($colors, danger);
}

.endpointState {
  position: relative;
  width: 44px;
  height: 32px;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 2px;
  padding-right: 2px; 
  ion-icon {
    position: absolute;
  }
}

.separation {
  background-color: map-get($colors, primary);
  b {
    color: white;
  }
}

.no-margin-padding {
  padding: 0;
  margin: 0;
}

.iconMenu{
  font-size: 25px;
  color: map-get($colors, primary);
  margin-right: 10px;
}

