page-pool {
  .results
  {
    padding-top:10px;
    padding-left:13px;
    padding-right:13px;
  }

  .results-head
  {
    padding-bottom:5px;
    padding-left:13px;
    padding-right:13px;
  }
  .card-content-ios {
    font-size: 1.3rem;
  }

  .pool-name
  {
    background: repeating-linear-gradient( -55deg, #f7f7f7, #f7f7f7 5px, #fff 5px, #fff 10px );
    color: color($colors, secondary);
    text-transform: uppercase;
    font-weight: bold;
  }

  .label-md, .label-ios
  {
    margin:0px;
  }

  #list-match
  {
    padding-bottom:13px;
  }


}
