<!--
  Generated template for the Pool page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <!-- Display the name of _tournament and the name of pool -->
        <ion-title>
            {{ tournament.name }} - {{ pool.name }}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToSearch()">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only (click)="displayMenu()">
                <ion-icon name="menu" class="menu-button"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Refresh the current page -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content refreshingText="Chargement"></ion-refresher-content>
    </ion-refresher>

    <!-- Display the type of _pool et the place of tournament -->
    <ion-grid text-center class="white-background">
        <ion-row style="flex-wrap: wrap;">
            <ion-col width-50>
                <ion-icon name="grid" class="info"></ion-icon>
                <br/>
                <div class="items">{{ pool.type }}</div>
            </ion-col>
            <ion-col width-50>
                <ion-icon name="pin" class="info"></ion-icon>
                <br/>
                <div class="items">{{ tournament.place }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Display the results for matches -->
    <ion-col width-100>
        <h2>Matchs et <b>Résultats</b></h2></ion-col>
    <ion-card>
        <ion-card-content no-padding>
            <ion-list id="list-match">
                <ion-item no-padding *ngFor="let match of pool.matches">
                    <ion-row *ngIf="pool.type == 'Elimination' ">
                        <ion-col width-100 class="items pool-name" text-center>
                            {{ match.name }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-33 class="items">
                            {{ (match.contender1Name == null) ? "---" : match.contender1Name }}
                        </ion-col>
                        <ion-col width-33 class="items" text-center *ngIf="!match.isFinished">
                            <ion-note>{{ match.startTime }}</ion-note>
                        </ion-col>
                        <ion-col width-33 class="items" text-center *ngIf="match.isFinished">
                            <ion-note>{{ match.scoreContender1 }} - {{ match.scoreContender2 }}</ion-note>
                        </ion-col>
                        <ion-col width-33 class="items" text-right>
                            {{ (match.contender2Name == null) ? "---" : match.contender2Name }}
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <!-- Display different text if the tournament is finished or not -->
    <ion-col *ngIf="finish" width-100>
        <h2>Le <b>Classement final</b></h2></ion-col>
    <ion-col *ngIf="!finish" width-100>
        <h2>Le <b>Classement actuel</b></h2></ion-col>
    <!-- <ion-col width-100 no-padding>
        <div style="font-weight: 100; margin-left:11px;">Cliquez pour plus de détails</div>
    </ion-col> -->
    <ion-card>
        <ion-card-content no-padding padding-top padding-bottom>
            <!-- Display the information for elimination -->
            <!-- <ion-list *ngIf="pool.type == 'Elimination'">
                <ion-row class="border-table results-head">
                    <ion-col width-20>
                        <strong>#</strong>
                    </ion-col>
                    <ion-col width-80>
                        <strong>Equipes</strong>
                    </ion-col>
                </ion-row> -->

            <!-- Display the classmate -->
            <!-- <ion-item *ngIf="finish">
                    <ion-row class="results" (click)="goToTeam(team)"
                             *ngFor="let team of pool.teams; let i = index;">
                        <ion-col width-20>
                            <strong>{{ i+1 }}</strong>
                        </ion-col>
                        <ion-col width-80 class="items">
                            {{ team.name }}
                        </ion-col>
                    </ion-row>
                </ion-item> -->

            <!-- Display nothing if no matches are finished -->
            <!-- <ion-item *ngIf="!finish">
                    <ion-row class="results" >
                        <ion-col width-20>

                        </ion-col>
                        <ion-col width-80 class="items">
                            Tournoi en cours
                        </ion-col>
                    </ion-row>
                </ion-item>
            </ion-list> -->

            <!-- Display the information for pool-->
            <ion-list>
                <ion-row class="border-table results-head">
                    <ion-col width-10>
                        <strong>#</strong>
                    </ion-col>
                    <ion-col width-40>
                        <strong>Equipes</strong>
                    </ion-col>
                    <ion-col width-10 text-center>
                        <strong>Pts</strong>
                    </ion-col>
                    <ion-col width-10 text-center>
                        <strong>G</strong>
                    </ion-col>
                    <ion-col width-10 text-center>
                        <strong>P</strong>
                    </ion-col>
                    <ion-col width-10 text-center>
                        <strong>E</strong>
                    </ion-col>
                    <ion-col width-10 text-center>
                        <strong>+/-</strong>
                    </ion-col>
                </ion-row>

                <!-- Display the classmate for pool-->
                <ion-row class="results" (click)="goToTeam(team)" *ngFor="let team of pool.ranking; let i = index;">
                    <ion-col width-10>
                        <strong>{{ i+1 }}</strong>
                    </ion-col>
                    <ion-col width-40 class="items">
                        {{ team.team }}
                    </ion-col>
                    <ion-col width-10 text-center class="items">
                        {{ team.score }}
                    </ion-col>
                    <ion-col width-10 text-center class="items">
                        {{ team.W }}
                    </ion-col>
                    <ion-col width-10 text-center class="items">
                        {{ team.L }}
                    </ion-col>
                    <ion-col width-10 text-center class="items">
                        {{ team.D }}
                    </ion-col>
                    <ion-col width-10 text-center class="items">
                        {{ team["+-"] }}
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
