<!--
  Generated template for the Tournament page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <!-- Display the name of tournament -->
        <ion-title>
            {{ tournamentData.name }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Refresh the current page -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content refreshingText="Chargement"></ion-refresher-content>
    </ion-refresher>

    <!-- Display the type and the place of tournament -->
    <ion-grid text-center class="white-background">
        <ion-row style="flex-wrap: wrap;">
            <ion-col width-50>
                <ion-icon name="grid" class="info"></ion-icon><br/>
                <div class="items">{{ tournamentData.type }}</div>
            </ion-col>
            <ion-col width-50>
                <ion-icon name="pin" class="info"></ion-icon><br/>
                <div class="items">{{ tournamentData.place }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-col width-100><h2>Liste des <b>Participants</b></h2></ion-col>
    <ion-card>
        <ion-card-content no-padding>
            <ion-list>
                <!-- When we click on the name of the team -> go to detail team -->
                <ion-item *ngFor="let team of tournamentData.teams" (click)="goToTeam(team)">
                    <!-- Display the name of team -->
                    <div class="items">{{ team.name }}</div>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-col width-100><h2>Le <b>Classement</b></h2></ion-col>
    <ion-card>
        <ion-card-content no-padding padding-bottom>
            <!-- Display the classmate -->
            <ion-list no-padding>
                <ion-item no-padding>
                    <ion-row class="results">
                        <ion-col width-20><strong>1</strong></ion-col>
                        <!-- When we click on the name of the team -> go to detail team and display the classmate -->
                        <ion-col width-80 class="items" *ngIf="tournamentData.winner" (click)="goToTeam(tournamentData.winner)">{{tournamentData.winner.name}}</ion-col>
                        <!-- Display "En cours" if there is no winner -->
                        <ion-col width-80 class="items" *ngIf="!tournamentData.winner">En cours</ion-col>
                    </ion-row>

                    <ion-row class="results">
                        <ion-col width-20><strong>2</strong></ion-col>
                        <!-- When we click on the name of the team -> go to detail team and display the classmate -->
                        <ion-col width-80 class="items" *ngIf="tournamentData.second" (click)="goToTeam(tournamentData.second)">{{tournamentData.second.name}}</ion-col>
                        <!-- Display "En cours" if there is no winner -->
                        <ion-col width-80 class="items" *ngIf="!tournamentData.second">En cours</ion-col>
                    </ion-row>

                    <ion-row class="results">
                        <ion-col width-20><strong>3</strong></ion-col>
                        <!-- When we click on the name of the team -> go to detail team and display the classmate -->
                        <ion-col width-80 class="items" *ngIf="tournamentData.third" (click)="goToTeam(tournamentData.third)">{{tournamentData.third.name}}</ion-col>
                        <!-- Display "En cours" if there is no winner -->
                        <ion-col width-80 class="items" *ngIf="!tournamentData.third">En cours</ion-col>
                    </ion-row>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-col width-100><h2>Liste des <b>Poules</b> / <b>Eliminations</b></h2></ion-col>
    <ion-card>
        <ion-card-content no-padding>
            <!-- Add a slider to navigate between pools and eliminations -->
            <ion-slides [options]="{pager:true}">
                <ion-slide *ngFor="let stage of tournamentData.stages" class="items">
                    <ion-row>
                        <!-- Display the name of the stage -->
                        <ion-col width-100>
                            <h1>{{stage.name}}</h1>
                        </ion-col>
                    </ion-row>

                    <ion-list>
                        <!-- When we click on the name of the match -> go to detail pool -->
                        <ion-item *ngFor="let pool of stage.pools" (click)="goToPool(pool)">
                            <ion-row>
                                <!-- Display the name of group -->
                                <ion-col width-50 no-padding>
                                    {{ pool.name }}
                                </ion-col>

                                <!-- Display the number of match played on the total of matches to be played -->
                                <ion-col width-50 text-right no-padding>
                                    <ion-note>{{pool.playedMatchs}} / {{pool.totalMatchs}}</ion-note>
                                </ion-col>
                            </ion-row>
                        </ion-item>
                    </ion-list>

                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
</ion-content>

