page-tournament {

  /* .results
  {
    padding-top:10px;
  }

  .label-md, .label-ios {
    margin: 0px;
  }

  .swiper-container-horizontal > .swiper-pagination {
    bottom:5px;
  }
  */
  .status-icon
  {
    height: 20px;
    width: 20px;
    margin-left:auto;
  }

  .list{
    display: inline;
  }

}
