<ion-header>
    <ion-navbar>
        <ion-title>Evènements</ion-title>
        <button ion-button menuToggle side="right">
            <ion-icon name="menu" class="menu-button"></ion-icon>
        </button>
        <ion-buttons end>
            <button ion-button icon-only side="right" class="endpointState">
                    <ion-icon name="globe"></ion-icon>
                    <ion-icon *ngIf="!endpointProvider.isOnline()" name="close" class="offlineState"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- Refresh the current page -->
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content refreshingText="Chargement"></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <!-- When we click on the name of the _event -> go to detail _event -->
        <ion-item *ngFor="let event of events" (click)="goToEvent(event)">
            <div class="items">{{event.name}}</div><!-- Display the name events -->
        </ion-item>
    </ion-list>
</ion-content>
